.login-page-container {
    height: 68vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page-form-container {
    height: 38vh;
    width: 18vw;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}